<%- include('partials/header')%>
  <%- include('partials/navbar')%>

    <title>Agendamento</title>
    </head>
    <style>
      body {
        background-color: #7B88EE;
      }

      .voltar {
        padding: 8px 16px;
        width: 128px;
        border-radius: 8px;
        font-weight: 700;

      }

      .agendar {
        height: 46px;
        border-radius: 8px;
        background-color: #7B88EE;
        border-color: #6E6FE5;
        font-weight: 700;

      }

      .agendar:hover {
        background-color: #6E6FE5;
      }

      .card {
        background-color: #f1f1f1;
      }

      /* tabla de horarios medicos e psicologos */
      .table {
        color: black;
        font-size: 30px;
      }

      /* informacoes medicos e psicologos */
      .infor {
        font-size: 30px;
        color: black;
      }

     
    </style>

    <body>
      <hr>

      <div class="container ">
        <div class="col-8" style="margin:10px auto;">

          <div class="card">
            <div class="card-header" style="text-align: center; background-color: #f1f1f1;">
              <label for="data">
                <h4 class="infor">Selecione a Especialidade em Seguida o Profissional e faça o Agendamento</h4><br>
              </label>
              <div class="d-grid mx-auto col-4">
                <button data-bs-toggle="modal" data-bs-target="#medicos" tabindex="-1" aria-disabled="false"
                  class="btn btn-success agendar">MEDICOS</button>
              </div><br>
              <div class="d-grid mx-auto col-4">
                <button data-bs-toggle="modal" data-bs-target="#psicologos" tabindex="-1" aria-disabled="false"
                  class="btn btn-success agendar">PISICOLOGOS</button>
              </div>
              <div class="card-header" style="text-align: center; background-color: #f1f1f1;">
                <div class="row justify-content-center mt-1">
                </div>

                <br><br>
                <div style="background-color: #f1f1f1;">
                  <a class="btn btn-dark btn-sm text-white m-3 voltar" href="/admin"><b>Voltar</b></a>
                </div>
              </div>
            </div>

            <!-- Modal SELECIONAR MEDICOS-->
            <div class="modal fade" id="medicos" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class=" infor modal-title" id="exampleModalLabel ">ESCOLHA SEU MEDICO(a)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="infor modal-body">
                    <table class="table table-bordered">
                      <tr>
                        <th>Doutor</th>
                        <th>CRM</th>
                        <th>Ação</th>
                      </tr>
                      <% medicos.forEach(medico=> { %>
                        <tr>
                          <th><%= medico.nome%></th>
                          <th><%= medico.crm%></th>
                          <th>
                            <form method="POST" action="/agendalist"  style="display: inline;">
                              <input type="hidden" id="idmedic" name="idmedic" value="<%=medico.id%>">
                              <button type="submit" class="btn btn-success agendar">Disponibilidade</button>
                            </form>
                          </th>
                        </tr>
                        <% }) %>
                    </table>
                            <div class="row">
                              <div class="col-md-8">
                              </div>
                              <div class="modal-footer">
                                <a href="/marcarConsulta">
                                  <button type="button" class="btn btn-dark btn-modal neg"><b>VOLTAR</b></button></a>
                              </div>
                            </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal SELECIONAR PSICOLOGO-->
            <div class="modal fade" id="psicologos" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="infor modal-title" id="exampleModalLabel ">ESCOLHA SEU PSICOLOGO(a)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="infor modal-body">
                  <table class="table table-bordered">
                    <tr>
                      <th>Doutor</th>
                      <th>CFP</th>
                      <th>Ação</th>
                    </tr>
                    <% psicologos.forEach(psicologo=> { %>
                      <tr>
                        <th><%= psicologo.nome%></th>
                        <th><%= psicologo.cfp%></th>
                        <th>
                          <form method="POST" action="/agendalist"  style="display: inline;">
                            <input type="hidden" id="idmedic" name="idmedic" value="<%=psicologo.id%>">
                            <button type="submit" class="btn btn-success agendar">Disponibilidade</button>
                          </form>
                        </th>
                      </tr>
                      <% }) %>

                  </table>
                            <div class="row">
                              <div class="col-md-8">
                              </div>
                              <div class="modal-footer">
                                <a href="/marcarConsulta">
                                  <button type="button" class="btn btn-dark btn-modal neg"><b>VOLTAR</b></button></a>
                              </div>
                            </div>
                  </div>
                </div>
              </div>
            </div>

    </body>


    </html>