<%- include('partials/header')%>
  <%- include('partials/navbar')%>
  
    <title>Agendamento</title>
    </head>
    <style>
      body {
        background-color: #7B88EE;
      }

      .voltar {
        padding: 8px 16px;
        width: 128px;
        border-radius: 8px;
        font-weight: 700;

      }

      .agendar {
        height: 46px;
        border-radius: 8px;
        background-color: #7B88EE;
        border-color: #6E6FE5;
        font-weight: 700;

      }

      .agendar:hover {
        background-color: #6E6FE5;
      }

      .card {
        background-color: #f1f1f1;
      }
    </style>

    <body>
      <hr>

      <div class="container ">
        <div class="col-8" style="margin:10px auto;">
         
            <div class="card">
              <div class="card-header" style="text-align: center; background-color: #f1f1f1;">
                <label for="data">
                  <h4>Selecione a Especialidade em Seguida o Profiisional e faça o Agendamento</h4>
                </label>
                <div class="d-grid mx-auto col-4">
                  <button data-bs-toggle="modal" data-bs-target="#medicos" tabindex="-1" aria-disabled="false" class="btn btn-success agendar">MEDICOS</button>
                </div><br>
                <div class="d-grid mx-auto col-4">
                  <button data-bs-toggle="modal" data-bs-target="#psicologos" tabindex="-1" aria-disabled="false"  class="btn btn-success agendar">PISICOLOGOS</button>
                </div>
                <div class="card">
                  <div class="card-header" style="text-align: center; background-color: #f1f1f1;">
                    <table class="table table-bordered text-white">
                      <tr>
                        <th>Data</th>
                        <th>Hora Inicial</th>
                        <th>Hora Final</th>
                      </tr>
                      <%for (let i = 1; i < 7; i++) { %>
                        <% var today = new Date(); %>
                        
                        <tr>
                          <th> <%= today.getFullYear()+'0'+(today.getMonth()+1)+''+(today.getDate()+i);%> </th>
                          <TH>09:00</TH>
                          <th>10:00</th>
                          <th><button>AgendarConsulta</th>
                        </tr>
                        <tr>
                          <th> <%= today.getFullYear()+'0'+(today.getMonth()+1)+''+(today.getDate()+i);%> </th>
                          <TH>10:00</TH>
                          <th>11:00</th>
                          <th><button>AgendarConsulta</th>
                        </tr>
                        <tr>
                          <th> <%= today.getFullYear()+'0'+(today.getMonth()+1)+''+(today.getDate()+i);%> </th>
                          <TH>13:00</TH>
                          <th>14:00</th>
                          <th><button>AgendarConsulta</th>
                        </tr>
                        <tr>
                          <th> <%= today.getFullYear()+'0'+(today.getMonth()+1)+''+(today.getDate()+i);%> </th>
                          <TH>14:00</TH>
                          <th>15:00</th>
                          <th><button>AgendarConsulta</th>
                        </tr>
                      <%}%>
                    
                    </table>
                    
                    
                    <label for="data">
                      <h4> Doutor(a) Envie seus dias e horários disponiveis ao Atendiemnto:</h4>
                    </label>
                    <div class="row justify-content-center mt-1">
                      <div class="col-7">
                        <input class="form-control text-center mt-1" type="date" name="data" id="dtAgenda" min="2021-04-01"
                          required />
                      </div>
                      <div class="col-7">
                        <input class="form-control text-center mt-1" type="time" name="hora" id="hoAgenda" 
                          required />
                      </div>
                    </div>
                  </div>
                          <div class="d-grid mx-auto col-6">
                            <button type="submit" class="btn btn-success agendar">Enviar Disponibilidade</button>
                          </div>
                        <div style="background-color: #f1f1f1;">
                          <a class="btn btn-dark btn-sm text-white m-3 voltar" href="/admin">Voltar</a>
                        </div>
                    </div>
                <br><br>
                  <div style="background-color: #f1f1f1;">
                    <a class="btn btn-dark btn-sm text-white m-3 voltar" href="/admin">Voltar</a>
                  </div>
                </div>
          </form>
        </div>
      </div>

 <!-- Modal SELECIONAR MEDICOS-->
  <div class="modal fade" id="medicos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel ">ESCOLHA SEU MEDICO(a)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% medicos.forEach(medico=> { %>
            <b>Doutror(a):</b> <%= medico.nome%>
            <b>CRM:</b><%= medico.crm%><br>
            <hr>
          <% }) %>
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="modal-footer">
              <form action="" method="post" onsubmit="confirmDel(event, this)">
                <input type="hidden" name="id" value="">
                <button class="btn btn-success agendar" data-bs-dismiss="modal"><b>Agendar</b></button>
              </form>
              <a href="/marcarConsulta">
                <button type="button" class="btn btn-dark btn-modal neg"><b>VOLTAR</b></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 

 <!-- Modal SELECIONAR PSICOLOGO-->
   <div class="modal fade" id="psicologos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel ">ESCOLHA SEU PSICOLOGO(a)</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <% psicologos.forEach(psicologo=> { %>
            <b>Doutror(a):</b> <%= psicologo.nome %>
            <b>CFP:</b> <%=  psicologo.cfp %><br>
             <hr>
           <% }) %>
           <div class="row">
             <div class="col-md-8">
             </div>
             <div class="modal-footer">
               <form action="/deleteuserself" method="post" onsubmit="confirmDel(event, this)">
                 <input type="hidden" name="id" value="">
                 <button class="btn btn-success agendar" data-bs-dismiss="modal"><b>Agendar</b></button>
               </form>
               <a href="/marcarConsulta">
                 <button type="button" class="btn btn-dark btn-modal neg"><b>VOLTAR</b></button></a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   
    </body>
    <script>

      let today = new Date();
      let dd = today.getDate();
      let mm = today.getMonth() + 1; //Janeiro é 0, então somamos + 1 para trabalhar com calendário conhecido
      let yyyy = today.getFullYear();
      // Data de hoje mais 5 dias
      dd = dd + 5;
      //se for maior que dia 30 vai para o proximo mês
      if (dd > 30) {
        dd = dd - 30;
        mm = mm + 1;
      }
      //se for maior que 12 vai para o proximo ano
      if (mm > 12) {
        mm = 1;
        yyyy = yyyy + 1;
      }
      // Se for menor que 10 formatamos com um zero na frente Ex: de 9 para 09
      if (dd < 10) {
        dd = '0' + dd;
      }
      // Se for menor que 10 formatamos com um zero na frente Ex: de 9 para 09
      if (mm < 10) {
        mm = '0' + mm;
      }

      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById("dtAgenda").setAttribute("min", today);
      today = dd + '/' + mm + '/' + yyyy;
      let div = document.getElementById("divDtFutura");
      div.innerText = today;

      function agendamento() {
        let medic = document.getElementById("medico").value
        localStorage.setItem('Médico', medic)
        let data = document.getElementById("dtAgenda").value
        localStorage.setItem('Consulta', data)
        alert(`Consulta agendada para: ${data} Tipo de Médico: ${medic}`)
      }
    </script>

    </html>