<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <style>
            body {
                background-color: #7B88EE;
                color: #fff;
            }

            .container {
                margin-top: 50px;
            }

            .voltar {
                padding: 6px 30px;
                margin: 0px 0px 16px 16px;
            }
        </style>

        <body>

            <div class="container">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <div style="display: flex; justify-content: space-between;">
                            <h2>Lista de Usuários</h2>
                        </div>
                        <div style="width: 100%; border: 1px solid #fff;"></div>

                    </div>
                    <div class="card-body">

                        <table class="table table-bordered text-white">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>E-MAIL</th>
                                    <th>AÇÕES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= user.id %>
                                    </td>
                                    <td>
                                        <%= user.nome %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>

                                    <td>
                                        <a href="/edit/<%= user.id %>" class="btn btn-warning btn-sm ml-2 mb-2">Editar</a>
                                        <form action="/delete" method="post" style="display: inline;" onsubmit="confirmDel(event, this)">
                                            <input type="hidden" name="id" value="<%= user.id %>">
                                            <button class="btn btn-danger btn-sm ml-2 mb-2">Deletar</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </ul>
                    </div>
                    <div style="float: inline-end;">
                        <a href="/indexAdmin" class="btn btn-light btn-sm voltar">Voltar</a>
                    </div>
                </div>
            </div>
        </body>

        <script>
            function confirmDel(event, form) {
                event.preventDefault()
                let decision = confirm('Deseja deletar usuário?')
                if (decision) {
                    form.submit();
                }
            }
        </script>


        </body>

        </html>